/* set this up main level */
.layout-wr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #1d1d1f;
    /* background-color: #fff; */
    background-color: #f5f5f7;
    text-align: center;
}

.two-col-wr {
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: left;
    /* background-color: #f5f5f7; */

}
  
.two-col-title {
    width: 30%;
    font-family: "SF_Pro_Display_Bold", sans-serif;
    font-size: 32px;
    line-height: 1.325;
    letter-spacing: .004em;
    text-align: left;  
}

.two-col-desc {
    width: 55%;
    color: #86868b;
    font-family: "SF_Pro_Display_Semibold", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .011rem;
    text-align: left;
    word-break: keep-all;
}

.one-col-wr {
    /* margin-top: 128px; */
    padding-top: 68px;
    background-color: #fff;
    /* min-height: 70vh; */
}

.one-col-title {
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    max-width: 1200px;
    text-align: center;
    font-family: "SF_Pro_Display_Bold", sans-serif;
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: .004em;
    text-align: left;
}

 
.tile-list-wr {
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 10vh;
    width: 95%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.tile-wr {
    margin: 18px 18px;  /* edit if necessary*/
}

.tile {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    text-align: left;
    width: 380px; /* Edit necessary */
    height: 450px; /* Edit necessary */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.04);
}


.tile-up {
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 30px 0;
    text-align: left;
    width: 400px; /* Edit necessary */
    height: 226px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.04);
}
  
.tile-bot {
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 400px; /* Edit necessary */
    height: 226px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.04);
}
  
.tile-title {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 1.1428571429;
    letter-spacing: .007em;
    font-family: "SF_Pro_Display_Semibold", sans-serif;
}
  
.tile-text {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 1.4705882353;
    letter-spacing: -0.022em;
    font-family: "SF_Pro_Text_Regular", sans-serif;
    font-style: normal;
}

.tile-text-bold {
    font-family: "SF_Pro_Display_Semibold", sans-serif;
}


.footer{
    padding-bottom: 32px;
    text-align: center; 
    background-color: #fff;
}
  


/* User Edit */
.tile img {
    display: block;
    height: 48px;
}

.thumb-design {
    background: url('../img/thumb-design.jpg');  
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

}

.thumb-branding {
    background: url('../img/thumb-branding.jpg');  
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

}

.thumb-dollar {
    background: url('../img/thumb-dollar.jpg');  
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.table-wr {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    padding-bottom: 64px;
    max-width: 1200px;
}

.table-row {
    display: flex;
    justify-content: baseline;
    line-height: 36px;
    padding: 4px 0;
    border-bottom: 1px solid #dde2e6;
    cursor: pointer;
}

.table-row:hover {
    background-color: #fafafa;
}

.table-question {
    width: 95%;
}

.table-cell {
    line-height: 24px;
    font-size: 18px;
    letter-spacing: -0.01em;
    font-family: "SF_Pro_Display_Regular", sans-serif;
    text-align: left;
    word-break: keep-all;
}

.table-bullet {
    width: 5%;
    color: #00619A;
    margin-right: 1%;
    font-size: 28px;
    font-family: "SF_Pro_Display_Regular", sans-serif;
    text-align: right;
}

.blue {
    color: #00619A;
}

.hl {
    color: #ff5a00;
    background-color: yellow;
  }

.answer-wr {
    display: none;
    margin-top: 12px;
}

.id {
    font-size: 14px;
    color: #00619A;
    font-family: "Source_Code_Pro", sans-serif;
    letter-spacing: -0.08em;
}

.q-desc {
    font-size: 14px;
}
.a-desc {
    margin-top: 6px;
    font-family: "SF_Pro_Display_Regular", sans-serif;
    font-size: 17px;
}

.no-data {
    /* color: #ff5a00; */
    font-size: 24px;
    margin-left: 20%;
}

.more-data {
    margin-top: 16px;
    font-size: 24px;
    text-align: left;
    margin-left: 4%;
    cursor: pointer;    
}

.inp-key {
    width: 400px;
}
.inp-select {
    /* font-size: 2rem; */
    width: 160px;

}
.search-wr{
    width: 85%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
}
  
.toggle-wr {
    display: flex;
    align-items: center;

}


.switch {
    position: relative;
    display: inline-block;
    /* width: 50px; */
    width: 64px;
    /* height: 24px; */
    height: 36px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .toggle-text {
    font-size: 24px;
    margin-left: 12px;
    color: #808080;
  }

/* User Edit */
    .ranking_bg {
        background-color: white;
        max-width: 840px;
        padding-top: 24px;
        padding-bottom: 0;
        padding-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px #D0D0D0;
        border: 1px solid #DDDDDD;
    }

    .title {
        color: #0272b6;
        font-family: "SF_Pro_Display_Semibold", sans-serif;
        font-size: 1.1rem;
    }
      
    .li_main {
        display: flex;
        justify-content: space-between;
        /* float: left; */
        width: 90%;
        position: relative;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #dde2e6;
        line-height: 2em;
    }
    .col-mid {
        justify-content: center;
      }
      

    .w-ranking {
        width: 20%;
    }
    .w-name {
        width: 50%;
    }
    .w-score {
        width: 40%;
    }
    .w {
        /* border: 1px solid red; */
        display:flex;
        flex-flow: wrap;
        font-size: 1rem;
        line-height: 1.3rem;
        vertical-align: middle;
    }

    .status {
        width: 100%;
        /* background: linear-gradient(to right, lightblue 30%, transparent 30%); */
        border: 1px solid lightblue;
      }
      .status-text {
        line-height: 0.8rem;
        font-size: 0.9rem;
        margin-left: calc(-40%);
      }
      
    .ranking-btn {
        margin-top: -2rem;
    }
    .loading {
        margin-top: -7rem;
    }

    .foot-note {
        /* margin-top: 4rem; */
        /* margin-left: 0; */
        padding-left: 28px;
        text-align: left;
    }
    .list {
        font-size: 18px;
        word-break: keep-all;
        margin-top: 8px;
    }

    .tip-wr {
        margin-top: -3rem;
        padding-bottom: 2rem;
    }

    .tip {
        width: 90%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .tip-title {
        cursor: pointer;
        color: #00619A;
    }

    .thanks {
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
      
    .ad-wr {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #86868b;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .ad-title-wr {
        padding-left: 1rem;
        display: flex;
        justify-content: start;
        max-width: 1200px;
        width: 96%;
        margin: 0 auto;
    }

    .ad-title {
        text-align: left;
    }

    .ad-img-wr {
        width: 24%;
        margin: 1rem 0 3rem;
    }
    
    .ad-text {        
        color:#1d1d1f !important;
        word-break: keep-all;
    }

    .ad-img {
        width: 100%;
        border-radius: 15px;
    }
    

      

/* Mobile, <900px */
@media only screen and (max-width: 900px) {
  
}  

@media only screen and (max-width: 540px) {
    .ad-title-wr {
        width: 100%;
    }

    .ad-wr {
        width: 100%;
        justify-content: space-evenly;
        border-top: 1px solid #86868b;
    }

    .ad-img-wr {
        width: 43%;
        margin: 1rem 0 0.5rem;
    }

    .ranking_bg {
        width: 94%;
    }
    .list {
        font-size: 16px;
        line-height: 24px;

    }

    .li_main {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .toggle-text {
        margin: 6px;
        font-size: 21px;
        margin-left: 8px;
        color: #808080;
      }
    
    .no-data {
        font-size: 20px;
    }
    

    .more-data {
        margin-top: 12px;
        font-size: 18px;
    }

    .inp-key {
        width: 70%;
    }

    .inp-select {
        /* font-size: 2rem; */
        width: 70%;
    }
    .toggle-wr {
        width: 70%;    
        margin-top: 16px;
    }
    
    
    .table-wr {
        width: 95%;
        
    }
    .table-cell {
        line-height: 22px;
        font-size: 15px;
    }
    

    .a-desc {
        font-size: 15px;
        /* line-height: 28px; */
    
    }
    
    .two-col-wr {
        flex-direction: column;
    }
      
    .two-col-title {
        width: 100%;
        margin-bottom: 16px;
    }

    .two-col-desc {
        font-size: 16px;
        width: 100%;
    }

    .tile-list-wr {
        padding-top: 16px;
    }

    .one-col-wr {
        padding-top: 38px;
    }

    .tile-up {
        width: 360px; /* max mobile */
    }
      
    .tile-bot {
        width: 360px; /* max mobile */
    }

}  